/* .debug *{
    outline: 1px solid red;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    color-scheme: light dark;
}

body {
    font-family: 'Kaushan Script', Arial, sans-serif;
}




a.overlaylink {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow:2px 2px 0px black;
    text-decoration: none;
    
}


.header-container{
    font-size: 20px;
    background-color: grey;
    margin-bottom: 20px;
}

.slogan-container {
    text-align: center;
    font-size: 15px;
}

.recipe-list-container{
    padding: 0px;
    text-align: center;
}

.recipe-list-container > ul {
    list-style: none;  
}

/* style for recipe boxes */
.recipe {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin: 10px;
    text-align: center;
    vertical-align: top;
}

.recipe:hover {
    border: 2px ridge black
}

.recipe.tonkotsu-ramen{
    background-image: url('images/tonkotsu-ramen.jpg');
    background-size: cover;
}

.recipe.takoyaki{
    background-image: url('images/takoyaki.jpg');
    background-size: cover;
}

.recipe.gyoza{
    background-image: url('images/gyoza.jpg');
    background-size: cover;
}


.recipe .overlaylink{
    vertical-align: middle;
    line-height: normal;
    
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
    white-space: normal;
}

.recipe .overlaylink:visited {
    color:white;
}